@import '../../styles/variables';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: var(--neutral-9);
  color: var(--primary);
  padding: 0 16px;
  box-shadow: 0 0 10px rgba(14, 14, 14, 0.26);
  transition: background-color 0.5s;
  z-index: index($z-index-elements, header);

  &__menu-toggler {
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: var(--primary);
    cursor: pointer;
  }
}
